.banner {
    background-image: url('NEW-Background.png');
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    font-family: "Audiowide";
    border-radius: 40px;
    padding: 8px;
    color: rgb(255, 255, 255);
  }
  


  /* CHAT */



  .chat-container {
    width: 14vw;
    height: 90vh;
    overflow-y: auto;
  }

  .chat-box {
    width: 14vw;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: 1vh;
    padding-top: 2vh;
    padding-left: 1.2vw;
    font-family: "Audiowide";
    color: rgb(255, 255, 255);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position: absolute;
    font-size: 1.2vw;
    border-radius: 40px;
    border: 3px solid #E87F9D;
  }

  #messages{
    height: 77.7vh;
  }
  
  #message-form{
    align-self: flex-end;
  }



    /* GAME WINDOW */



  #game-window {
    width: 64vw;
    height: 83vh;
    margin: auto;
    -moz-border-radius: 15px;
    border-radius: 40px;
    overflow: hidden;
    border: 3px solid #E87F9D;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: "Audiowide";
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(0, -107.5%);
  }
  
  .responsive-iframe {
    width: 64vw; 
    height: 83vh;
    position: relative;
    top: 4px; 
    right: 2px;
  }



    /* CONTACT FORM */



.contact-form {
    width: 14vw;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: 1vh;
    padding-top: 2vh;
    padding-left: 1.2vw;
    font-family: "Audiowide";
    color: rgb(255, 255, 255);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position: absolute;
    font-size: 1.2vw;
    border-radius: 40px;
    border: 3px solid #E87F9D;
    height: 80.7vh;
    right: calc(10.5% - 10vw);
  }

.user-box[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  


  /* BODY */



body {
    background: url('NEW-Background.png') repeat-x;
    animation: scroll 15s linear infinite;
    background-position: 0 0;
    background-size: auto 100vh;
    overflow: hidden;
    backdrop-filter: blur(150px);
    margin-bottom: 0px;
    font-family: "Audiowide";
    border-radius: 40px;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    height: 96vh;
    position: relative;
    border: 3px solid #E87F9D;
  }
  
  @keyframes scroll {
    from { background-position: 0 0; }
    to { background-position: -100% 0; }
  }
  


  /* BORDER ANIMATION */



  .block{
    position: relative;
    background: url('NEW-Background.png');
    border-radius: 30px;
  }
  
  .block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #E87F9D,#ffffff, #E87F9D, #ffffff, 
      #E87F9D, #ffffff ,#E87F9D, #ffffff);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 40s linear infinite;
    border-radius: 30px;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .block:after {
    filter: blur(150px);
  }

  .row {
    display: flex;
    flex-direction: row;
  }
  
  .column {
    display: flex;
    flex-direction: row;
  }

::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
body {
    scrollbar-width: none;
}

/* For IE and Edge */
body {
    -ms-overflow-style: none;
}
