.banner {
    background: url('NEW-Background.png');
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #login-status {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .chat-container {
    width: 300px;
    height: 400px;
    overflow-y: auto;
  }

  .chat-box {
    /* display: inline; */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0 8vh 0.7vh 0;
    border: none;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgb(0,0,0);
    position: absolute;
  }

  #messages{
    height: 77.7vh;
  }
  #message-form{
    align-self: flex-end;
  }

  #game-window {
    width: 70%;
    height: 80vh;
    border-radius: 2em;
    border: 3px solid #000000;
  }
  
  #scoreboard {
    position: absolute;
    right: 10px;
    width: 20%;
  }
  
 
body {
    background: url('NEW-Background.png') repeat-x;
    animation: scroll 20s linear infinite;
    background-position: 0 0;
    background-size: auto 100vh;
    font-size: 0.7vw;
    overflow: auto;
    backdrop-filter: blur(150px);
    margin-bottom: 0px;
  }
  
  @keyframes scroll {
    from { background-position: 0 0; }
    to { background-position: -100% 0; }
  }

  .row {
    display: flex;
    flex-direction: row;
  }
  
  .column {
    display: flex;
    flex-direction: row;
  }
  